<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>SquidyGit</Name>
    <Version>0.0.1</Version>
    <Title>SquidyGit Setup</Title>
    <Publisher>Sergey Yakunin</Publisher>
    <StartMenuDir>SquidyGit</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/SquidyGit</TargetDir>
    <AdminTargetDir>@ApplicationsDirX64@/SquidyGit</AdminTargetDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <Logo>squidygit-128.png</Logo>
    <WizardStyle>Modern</WizardStyle>
    <MaintenanceToolName>Uninstall SquidyGit</MaintenanceToolName>
    <MaintenanceToolIniFile>SquidyGit.ini</MaintenanceToolIniFile>
</Installer>
